.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap: 10px;
    place-content: center; 
    padding: 10px 0;
}

@media  screen and (max-width:560px) {
    .moviesGrid{
        grid-template-columns: 100%;
    }
    
}