*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}


.title{
  text-align: center;
  font-size: 3rem;
  text-shadow:  0 0 10px #FFF, 0 0 20PX #FFF, 0 0 30px #e60073, 0 0 40px , 0 0 50px #e60073, 0 0 60px #e60073,0 0  70px #e60073;
  padding-bottom: 20px;
}